In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [91]:
df_rfm = pd.read_csv('Downloads/Auto Sales data.csv')

In [93]:
df_rfm.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,DAYS_SINCE_LASTORDER,STATUS,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2-24-18,828,Shipped,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5-7-18,757,Shipped,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7-1-18,703,Shipped,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8-25-18,649,Shipped,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium
4,10168,36,96.66,1,3479.76,10-28-18,586,Shipped,Motorcycles,95,S10_1678,Technics Stores Inc.,6505556809,9408 Furth Circle,Burlingame,94217,USA,Hirano,Juri,Medium

In [95]:
for col in df_rfm.columns:
    missing_v = df_rfm[col].isna().sum()
    print(f'Column {col}: {missing_v}')

Column ORDERNUMBER: 0
Column QUANTITYORDERED: 0
Column PRICEEACH: 0
Column ORDERLINENUMBER: 0
Column SALES: 0
Column ORDERDATE: 0
Column DAYS_SINCE_LASTORDER: 0
Column STATUS: 0
Column PRODUCTLINE: 0
Column MSRP: 0
Column PRODUCTCODE: 0
Column CUSTOMERNAME: 0
Column PHONE: 0
Column ADDRESSLINE1: 0
Column CITY: 0
Column POSTALCODE: 0
Column COUNTRY: 0
Column CONTACTLASTNAME: 0
Column CONTACTFIRSTNAME: 0
Column DEALSIZE: 0

None of columns have `IS NULL` values

In [98]:
df_rfm.duplicated().sum()

0

There has no duplicated data in the dataset

In [132]:
df_t1 = pd.read_csv('Downloads/df_rfm.csv')

In [134]:
pd.qcut(df_t1['recency'], q=5)

0     (659.0, 1353.0]
1      (228.6, 339.2]
2     (41.999, 228.6]
3      (228.6, 339.2]
4     (659.0, 1353.0]
           ...
84    (41.999, 228.6]
85     (339.2, 480.6]
86     (339.2, 480.6]
87     (228.6, 339.2]
88     (480.6, 659.0]
Name: recency, Length: 89, dtype: category
Categories (5, interval[float64, right]): [(41.999, 228.6] < (228.6, 339.2] < (339.2, 480.6] < (480.6, 659.0] < (659.0, 1353.0]]

In [136]:
pd.qcut(df_t1['recency'], q=5,  labels = [5,4,3,2,1])

0     1
1     4
2     5
3     4
4     1
     ..
84    5
85    3
86    3
87    4
88    2
Name: recency, Length: 89, dtype: category
Categories (5, int64): [5 < 4 < 3 < 2 < 1]

Using qcut() function, we can divide `recency` into 5 groups (5,4,3,2,1), with `group 5` (still active) and `group 1` (dropped)

In [153]:
pd.qcut(df_t1['frequency'].rank(method='first'), 5)

0      (18.6, 36.2]
1     (0.999, 18.6]
2      (53.8, 71.4]
3      (18.6, 36.2]
4      (18.6, 36.2]
          ...
84     (53.8, 71.4]
85     (18.6, 36.2]
86     (53.8, 71.4]
87     (71.4, 89.0]
88     (18.6, 36.2]
Name: frequency, Length: 89, dtype: category
Categories (5, interval[float64, right]): [(0.999, 18.6] < (18.6, 36.2] < (36.2, 53.8] < (53.8, 71.4] < (71.4, 89.0]]

In [155]:
pd.qcut(df_t1['frequency'].rank(method='first'), 5, labels = [1,2,3,4,5])

0     2
1     1
2     4
3     2
4     2
     ..
84    4
85    2
86    4
87    5
88    2
Name: frequency, Length: 89, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

Using qcut() function, we can divide `frequency` into 5 groups (1,2,3,4,5), with `group 5` (most frequent) and `group 1` (least frequent)

In [160]:
pd.qcut(df_t1['monetary'], q=5)

0       (64737.176, 79665.352]
1      (79665.352, 100537.756]
2      (132714.912, 912294.11]
3        (9129.349, 64737.176]
4        (9129.349, 64737.176]
                ...
84    (100537.756, 132714.912]
85    (100537.756, 132714.912]
86     (79665.352, 100537.756]
87      (64737.176, 79665.352]
88       (9129.349, 64737.176]
Name: monetary, Length: 89, dtype: category
Categories (5, interval[float64, right]): [(9129.349, 64737.176] < (64737.176, 79665.352] < (79665.352, 100537.756] < (100537.756, 132714.912] < (132714.912, 912294.11]]

In [162]:
pd.qcut(df_t1['monetary'], q=5, labels = [1,2,3,4,5])

0     2
1     3
2     5
3     1
4     1
     ..
84    4
85    4
86    3
87    2
88    1
Name: monetary, Length: 89, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]